name: Build and test

on:
  pull_request:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        rust: [ 1.73.0, beta, nightly ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: build and test
      env:
        RUST_VERSION: ${{matrix.rust}}
      run: ./.travis.sh

  macos:
    strategy:
      matrix:
        os: [ macOS-13, macOS-14 ]
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v1
    - name: build and test
      run: ./.travis.sh

      #  windows:
      #    runs-on: windows-2019
      #
      #    steps:
      #    - uses: actions/checkout@v1
      #    - name: cargo test
      #      run: cargo test --all

  linux-musl:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: build and test
      run: ./musl_build.sh
